<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游记列表</title>
    <link rel="stylesheet" href="css/note/note_all.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-theme.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="dist/js/jquery-3.3.1.min.js"></script>
    <script src="dist/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <h2>游记列表</h2>
    <div class="main container">
        <div id="hot_note">
            <ul class="list-group">
            <li class="list-group-item">
                <a href="" ><img src="images/list-1.jpeg"></a>
                <div class="list-dest">
                    <dl>
                        <dt>
                            <a href="" target="_blank">万山之中，山川出云（贵州环线亲子自驾游）</a>
                        </dt>
                        <dd>
                            <a href="" target="_blank">崭新的旅行拉开了帷幕~ 让我们踏起脚步~ 更多的美景吸引着我们瞩目~ 奔向我们期望的自由之路~ 曾经的美好已悄然离去~ 更多的幸福需要我们孕育~ 让我们开始新的旅程~ 把心中的杂念过滤~ 江从...</a>
                        </dd>
                        <dd>
                            <span>坐标：</span><span>新加披</span>
                            <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="list-group-item">
                <a href="" ><img src="images/list-2.jpeg"></a>
                <div class="list-dest">
                    <dl>
                        <dt>
                            <a href="" target="_blank">土耳其顺时针15日</a>
                        </dt>
                        <dd>
                            <a href="" target="_blank"> 春节20日游，包含了 莫斯科 圣彼得堡 和 土耳其 顺时针一圈，总花费不到一万四每人，当然不包含出门之前的采购和回来的免税店的钱。照片都懒得排序了。将就看吧~！小攻略是 土耳其 的汽车站...</a>
                        </dd>
                        <dd>
                            <span>坐标：</span><span>新加披</span>
                            <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="list-group-item">
                <a href="" ><img src="images/list-3.jpeg"></a>
                <div class="list-dest">
                    <dl>
                        <dt>
                            <a href="" target="_blank">带上爸妈游帝都</a>
                        </dt>
                        <dd>
                            <a href="" target="_blank"> 北京 一个历史悠久、文化底蕴深厚的城市 妈妈向往已久的地方 那是一种情怀呀 终于在今年实现她的愿望啦！ 这次旅游的主题是：爸妈的周年纪念+我们的二度蜜月+弟弟的单身狗之旅 提前两个星期...</a>
                        </dd>
                        <dd>
                            <span>坐标：</span><span>新加披</span>
                            <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="list-group-item">
                <a href="" ><img src="images/list-4.jpeg"></a>
                <div class="list-dest">
                    <dl>
                        <dt>
                            <a href="" target="_blank">英伦之旅（十一）－寻诗而至的剑桥</a>
                        </dt>
                        <dd>
                            <a href="" target="_blank">轻轻的我走了， 正如我轻轻的来； 我轻轻的招手， 作别西天的云彩。 那河畔的金柳， 是夕阳中的新娘； 波光里的艳影， 在我的心头荡漾。 软泥上的青荇， 油油的在水底招摇； 在康河的柔 波里...</a>
                        </dd>
                        <dd>
                            <span>坐标：</span><span>新加披</span>
                            <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="list-group-item">
                <a href="" ><img src="images/list-5.jpeg"></a>
                <div class="list-dest">
                    <dl>
                        <dt>
                            <a href="" target="_blank">喀什羁绊</a>
                        </dt>
                        <dd>
                            <a href="" target="_blank">2019，在 新疆 的第三年，有句话总听说：不到 喀什 ，就不算到 新疆 。一切的羁绊也是从这句话开始。 这可能就是没到过 喀什 之前，与 喀什 最近的一次了。 2018年暑假回家途中的一次中途倒...</a>
                        </dd>
                        <dd>
                            <span>坐标：</span><span>新加披</span>
                            <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="list-group-item">
                <a href="" ><img src="images/list-6.jpeg"></a>
                <div class="list-dest">
                    <dl>
                        <dt>
                            <a href="" target="_blank">新加坡初体验，小城市里的大魅力</a>
                        </dt>
                        <dd>
                            <a href="" target="_blank">今年1月下旬，离春节还有半个月的时间，恰好年底手头上也没有什么工作了，于是打算约着朋友们，来一趟年底的收尾之旅。最近几个月已经去过了高山和大海，看过冰雪和星辰，所以年...</a>
                        </dd>
                        <dd>
                            <span>坐标：</span><span>新加披</span>
                            <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <!-- 分页 页码信息-->
            <div class="page_area">
                <ul class="mypagination">
                    <li style="float: left;"> 共<span class="totalPage"></span>页 ,共<span class="totalCount"></span>条记录 </li>
                    <li style="float: left;"> <a href="javascript:loadNote(currentPage-1)" class="preivous">上一页</a>   </li>
                    <li style="float: left;"> , 当前是<span class="currentPage"></span>页   </li>
                    <li style="float: left;"> <a href="javascript:loadNote(currentPage+1)" class="next">下一页</a>
                    </li>
                </ul>
            </div>
        </ul>
        </div>
    </div>
<script src="js/note/note_all.js"></script>
</body>
</html>